@import url(https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap%27);

main{
    display: flex;
    justify-content: center;
    padding-top: 250px;
}


#testoAlternato{
    font-weight: bold;
    border: 3px solid black;
    padding-left: 20px;
    width: 70%;
    font-size: 40px;
}

i {
    left: 3px;
    color: rgb(63, 136, 158);
    width: max-content;
    animation: rotazione 6s ease-in-out infinite;
    opacity: 0;
    width: 300px;
}

@keyframes rotazione {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    25% {
        opacity: 0;
        transform: translateY(0px);
    }

    40% {
        opacity: 1;
        transform: translateY(0px);
    }

    65% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 0;
        transform: translateY(0px);
    }
}

.parole i:nth-child(1){
    animation-delay: 0s;
}
.parole i:nth-child(2){
    animation-delay: 2s;
}
.parole i:nth-child(3){
    animation-delay: 4s;
}